
body{
    background-color: aliceblue
}
.man{
    border: solid 1px;
    background-color: blue;
}

*{
    padding: 0;
    margin: 0;
}

.collapse navbar-collapse{
    display: flex;
    justify-content: space-between;

}

